#qr-reader button{
  color: #fff;
  background-color: #212529;
  border-color: #212529;
  cursor: pointer;
  display: block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  margin-top: 15px;
  width: 100%;
}

#qr-reader button:hover{
  background-color: #414549;
}

#qr-reader__dashboard_section_swaplink{display: none !important;}
.overlay{
  width: 132px;
  height: 37px;
  background-color: #fff;
  position: absolute;
  z-index: 9;
  margin: 1px;
}
